[Unit]
Description=uWSGI instance to serve flaskapp
After=network.target

[Service]
User=josh
Group=josh
WorkingDirectory=/home/josh/urlwatch-proxies
Environment="PATH=/home/josh/urlwatch-proxies/proxyenv/bin"
ExecStart=/home/josh/urlwatch-proxies/proxyenv/bin/uwsgi --ini flaskapp.ini

[Install]
WantedBy=multi-user.target